#### 새 Column 만들기

In [4]:
import pandas as pd
import numpy as np

In [6]:
df = pd.DataFrame({'A': range(1, 11), 'B': np.random.randn(10)})

In [7]:
df

    A         B
0   1  1.461441
1   2  1.636911
2   3 -0.267192
3   4  1.442968
4   5 -1.458477
5   6  0.673347
6   7  1.257110
7   8 -1.276244
8   9 -0.345915
9  10  0.521735

In [10]:
df.assign(ln_A = (lambda x: np.log(x.A)))

    A         B      ln_A
0   1  1.461441  0.000000
1   2  1.636911  0.693147
2   3 -0.267192  1.098612
3   4  1.442968  1.386294
4   5 -1.458477  1.609438
5   6  0.673347  1.791759
6   7  1.257110  1.945910
7   8 -1.276244  2.079442
8   9 -0.345915  2.197225
9  10  0.521735  2.302585

In [13]:
df['ln_A'] = np.log(df['A'])

df

    A         B      ln_A
0   1  1.461441  0.000000
1   2  1.636911  0.693147
2   3 -0.267192  1.098612
3   4  1.442968  1.386294
4   5 -1.458477  1.609438
5   6  0.673347  1.791759
6   7  1.257110  1.945910
7   8 -1.276244  2.079442
8   9 -0.345915  2.197225
9  10  0.521735  2.302585

#### qcut

In [15]:
pd.qcut(df['A'], 3, labels=['good', 'medium', 'bad']) # 수 -> 카테고리

0      good
1      good
2      good
3      good
4    medium
5    medium
6    medium
7       bad
8       bad
9       bad
Name: A, dtype: category
Categories (3, object): ['good' < 'medium' < 'bad']

In [16]:
df.max(axis = 1)

0     1.461441
1     2.000000
2     3.000000
3     4.000000
4     5.000000
5     6.000000
6     7.000000
7     8.000000
8     9.000000
9    10.000000
dtype: float64

In [17]:
df["A"].clip(lower=2, upper=5) # lower보다 낮은 값 -> lower로 / uppder보다 높은 값 -> upper로

0    2
1    2
2    3
3    4
4    5
5    5
6    5
7    5
8    5
9    5
Name: A, dtype: int64